#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $6$Do24ZTNGXw5AbTv6$g3LcAvBNi64DjTHJyWkfX3eDNHEF.tvWnvoxK238dXDPKnfAc1qZI.NDHpxyvLGV20NF/Zr09aSvhE67goP5s/
user --name=root --shell=/sbin/nologin
# SysAdmin Account
user --name=SysAdmin --groups=wheel --homedir=/home/SysAdmin --shell=/bin/bash
# System language
lang en_US
# Network information
network  --bootproto=dhcp --device=eno1 --noipv6 --activate
network  --hostname=base.linux.ux
# Use HTTP installation method
url --url http://mirror.centos.org/centos/7/os/x86_64/
# SELinux configuration
selinux --enforcing
# System timezone
timezone America/Toronto
timezone --utc
# System bootloader configuration
bootloader --location=none
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --linux
part pv.01 --fstype="lvmpv" --ondisk=sda --size=32267
volgroup SysBase --pesize=4096 pv.01
logvol /tmp  --fstype="xfs" --size=3072 --label="Temporal" --name=tmp --vgname=SysBase
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=SysBase
logvol /var  --fstype="xfs" --size=16903 --label="Variables" --name=var --vgname=SysBase
logvol /  --fstype="xfs" --size=10240 --label="Root" --name=root --vgname=SysBase

%packages
@core
chrony
kexec-tools
%end
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
